body {
  display: flex;
  flex-direction: row;
}

body div {
  text-align: center;
  width: 75%;
  border: 1px solid black;
  margin: 0 auto;
  padding: 10px;
}
.color{
  background: linear-gradient(to right, #000066 0%, #33ccff 100%);

}
